<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnChill"
        tools:targetApi="31">
        <activity
            android:name=".Playlist.EditPlaylistActivity"
            android:exported="false" />
        <activity
            android:name="com.MusicManager.AddPlaylistToMusicActivity"
            android:exported="false" />
        <activity
            android:name="com.ManageUser.AddUserActivity"
            android:exported="false" />
        <activity
            android:name=".Playlist.AddMusicToPlayListActivity"
            android:exported="false" />
        <activity
            android:name=".Playlist.AddPlaylistActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Playlist.PlaylistManagerActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5179902064241544~8243564281" />

        <activity
            android:name="com.MusicManager.PlaylistDetailActivity"
            android:exported="true" />
        <activity
            android:name="com.ManageUser.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.ManageUser.ManageUserActivity"
            android:exported="true" />
        <activity
            android:name="com.SettingAcc.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.SettingAcc.SettingAccActivity"
            android:exported="false" />
        <activity
            android:name="com.MusicManager.UpdateActivity"
            android:exported="false" />
        <activity
            android:name="com.MusicManager.MusicDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.MusicManager.MusicManagerActivity"
            android:exported="true" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MusicPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.DoAnChill" />

        <service
            android:name=".Interface.MusicService"
            android:enabled="true" />

        <receiver
            android:name=".Interface.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="NEXTS" />
                <action android:name="PLAY" />
                <action android:name="PREVIOUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>